<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Latest XKCD Comic</title>
</head>
<body>
	<div th:object="${comic}" align="center">
		<h1><span th:text="*{title}"></span></h1>
		<img src="url" th:attr="src=*{img}">
		<p>Alt text: <span th:text="*{alt}">alt text</span></p>
	</div>
</body>
</html>